<h1>Listing staffs</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Address</th>
    <th>Dob</th>
    <th>Age</th>
    <th>Gender</th>
    <th>Comments</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @staffs.each do |staff| %>
  <tr>
    <td><%= staff.name %></td>
    <td><%= staff.email %></td>
    <td><%= staff.phone %></td>
    <td><%= staff.address %></td>
    <td><%= staff.dob %></td>
    <td><%= staff.age %></td>
    <td><%= staff.gender %></td>
    <td><%= staff.comments %></td>
    <td><%= link_to 'Show', staff %></td>
    <td><%= link_to 'Edit', edit_staff_path(staff) %></td>
    <td><%= link_to 'Destroy', staff, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Staff', new_staff_path %>
