<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @member.name %>
</p>

<p>
  <b>Phone:</b>
  <%= @member.phone %>
</p>

<p>
  <b>Address:</b>
  <%= @member.address %>
</p>

<p>
  <b>Dob:</b>
  <%= @member.dob %>
</p>

<p>
  <b>Age:</b>
  <%= @member.age %>
</p>

<p>
  <b>Gender:</b>
  <%= @member.gender %>
</p>

<p>
  <b>Comments:</b>
  <%= @member.comments %>
</p>


<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
